@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
  --main-btn: hsl(158, 36%, 37%);
  --active-btn: hsl(158, 42%, 18%);
  --main-text: hsl(212, 21%, 14%);
  --sub-text: hsl(228, 12%, 48%);
  --bg-color: hsl(30, 38%, 92%);
  --white-color: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.left-side img {
  max-height: 405px;
  display: block;
  object-fit: cover;
  flex: 1;
}

.container {
  background-color: var(--white-color);
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  overflow: hidden;
  border-radius: 0.6rem;
}

.right-side {
  padding: 1.7rem;
  flex: 1;
}

.category {
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--sub-text);
  margin-bottom: 1.4rem;
}

.product-name {
  font-family: "Fraunces";
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
  line-height: 1;
}

.description {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.4rem;
  color: var(--sub-text);
}

.price {
  font-family: "Fraunces";
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.new-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--main-btn);
}

.old-price {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--sub-text);
  margin-left: 1rem;
  text-decoration: line-through;
}

.btn {
  background-color: var(--main-btn);
  color: var(--white-color);
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  height: 2.7rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn img {
  margin-right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
}

.btn:hover {
  background-color: var(--active-btn);
}

.btn:active {
  transform: scale(0.98);
  background-color: var(--main-btn);
}

@media (max-width: 500px) {
  body {
    align-items: flex-start;
  }

  .container {
    flex-direction: column;
    margin: 1rem;
  }

  .left-side img {
    object-fit: cover;
    width: 100%;
  }
}

.attribution {
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-text);
  margin-top: 1rem;
}

.attribution a {
  color: var(--main-btn);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--active-btn);
  text-decoration: underline;
}

.attribution a:visited {
  color: var(--sub-text);
}
